IIBDevApp_msgset/root_in.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Rollno" type="xsd:string"/>
  <xsd:element name="Department" type="xsd:string"/>
  <xsd:element name="StudentDetials">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Student"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Student">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Name"/>
        <xsd:element ref="Rollno"/>
        <xsd:element ref="Department"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Name" type="xsd:string"/>
</xsd:schema>
