CustomerApp/DFDL_Customer_Model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              
  
  
  
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
              
  
  
  
  
  <xsd:annotation>
                    		
    
    
    
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                              			
      
      
      
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
                              		
    
    
    
    
    </xsd:appinfo>
                    	
  
  
  
  
  </xsd:annotation>
          	
  
  
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="CustomerDetails">
                    		
    
    
    
    
    <xsd:complexType>
                              			
      
      
      
      
      <xsd:sequence dfdl:separator="">
                                        				
        
        
        
        
        <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="Customer">
                                                  					
          
          
          
          
          <xsd:complexType>
                                                            						
            
            
            
            
            <xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
                                                                      							
              
              
              
              
              <xsd:element dfdl:length="20" dfdl:lengthKind="delimited" ibmDfdlExtn:sampleValue="Jon" name="first_name">
                                                                
                
                
                <xsd:simpleType>
                                                                        
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                
                    
                    
                    <xsd:maxLength value="20"/>
                                                                              
                  
                  
                  </xsd:restriction>
                                                                      
                
                
                </xsd:simpleType>
                                                              
              
              
              </xsd:element>
                                                                      							
              
              
              
              
              <xsd:element dfdl:length="20" dfdl:lengthKind="delimited" ibmDfdlExtn:sampleValue="Omer" name="second_name">
                                                                
                
                
                <xsd:simpleType>
                                                                        
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                
                    
                    
                    <xsd:maxLength value="20"/>
                                                                              
                  
                  
                  </xsd:restriction>
                                                                      
                
                
                </xsd:simpleType>
                                                              
              
              
              </xsd:element>
                                                                      							
              
              
              
              
              <xsd:element dfdl:length="20" dfdl:lengthKind="delimited" ibmDfdlExtn:sampleValue="Ahmed" name="third_name">
                                                                
                
                
                <xsd:simpleType>
                                                                        
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                
                    
                    
                    <xsd:maxLength value="20"/>
                                                                              
                  
                  
                  </xsd:restriction>
                                                                      
                
                
                </xsd:simpleType>
                                                              
              
              
              </xsd:element>
                                                                                                  
              
              
              
              
              <xsd:element dfdl:length="20" dfdl:lengthKind="delimited" ibmDfdlExtn:sampleValue="ALi" name="last_name">
                                                                
                
                
                <xsd:simpleType>
                                                                        
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                
                    
                    
                    <xsd:maxLength value="20"/>
                                                                              
                  
                  
                  </xsd:restriction>
                                                                      
                
                
                </xsd:simpleType>
                                                              
              
              
              </xsd:element>
                                                                                                  
              
              
              
              
              <xsd:element dfdl:length="14" dfdl:lengthKind="explicit" ibmDfdlExtn:sampleValue="12345678912345" name="national_id">
                                                                
                
                
                <xsd:simpleType>
                                                                        
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                
                    
                    
                    <xsd:maxLength value="14"/>
                                                                                
                    
                    
                    <xsd:minLength value="14"/>
                                                                              
                  
                  
                  </xsd:restriction>
                                                                      
                
                
                </xsd:simpleType>
                                                              
              
              
              </xsd:element>
                                                                                                  
              
              
              
              
              <xsd:element dfdl:length="11" dfdl:lengthKind="explicit" ibmDfdlExtn:sampleValue="01068570157" name="mobile_number">
                                                                
                
                
                <xsd:simpleType>
                                                                        
                  
                  
                  <xsd:restriction base="xsd:string">
                                                                                
                    
                    
                    <xsd:maxLength value="11"/>
                                                                                
                    
                    
                    <xsd:minLength value="11"/>
                                                                              
                  
                  
                  </xsd:restriction>
                                                                      
                
                
                </xsd:simpleType>
                                                              
              
              
              </xsd:element>
                                                                                              
            
            
            
            
            </xsd:sequence>
                                                            					
          
          
          
          
          </xsd:complexType>
                                                  				
        
        
        
        
        </xsd:element>
                                        				
			
      
      
      
      
      </xsd:sequence>
                              		
    
    
    
    
    </xsd:complexType>
                    	
  
  
  
  
  </xsd:element>
          




</xsd:schema>
