Transaction_Lib/TransctionDetailsService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://tempuri.org/TransctionDetails" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/TransctionDetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/TransctionDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/TransctionDetails">
        
  <xsd:complexType name="TransactionRequest">
            
    <xsd:sequence>
                
      <xsd:element ref="mrm:Transaction_number"/>
                
      <xsd:element ref="mrm:Transaction_date"/>
                
      <xsd:element ref="mrm:Store_number"/>
                
      <xsd:element ref="mrm:Total_amount"/>
                
      <xsd:element ref="mrm:Quantity"/>
                
      <xsd:element ref="mrm:Delivery_address"/>
              
    </xsd:sequence>
          
  </xsd:complexType>
        
  <xsd:complexType name="TransactionResponse">
            
    <xsd:sequence>
                
      <xsd:element ref="mrm:Transaction_number"/>
                
      <xsd:element ref="mrm:Transaction_status"/>
              
    </xsd:sequence>
          
  </xsd:complexType>
        
  <xsd:complexType name="Fault">
            
    <xsd:sequence>
                
      <xsd:element ref="mrm:Fcode"/>
                
      <xsd:element ref="mrm:Fstring"/>
              
    </xsd:sequence>
          
  </xsd:complexType>
        
  <xsd:element name="Transaction_number" type="xsd:string"/>
        
  <xsd:element name="Transaction_date" type="xsd:string"/>
        
  <xsd:element name="Store_number" type="xsd:string"/>
        
  <xsd:element name="Quantity" type="xsd:string"/>
        
  <xsd:element name="Total_amount" type="xsd:string"/>
        
  <xsd:element name="Delivery_address" type="xsd:string"/>
        
  <xsd:element name="Transaction_status" type="xsd:string"/>
        
  <xsd:element name="Fcode" type="xsd:string"/>
        
  <xsd:element name="Fstring" type="xsd:string"/>
        
  <xsd:element ibmSchExtn:docRoot="true" name="TransactionRequest" type="mrm:TransactionRequest"/>
        
  <xsd:element ibmSchExtn:docRoot="true" name="TransactionResponse" type="mrm:TransactionResponse"/>
        
  <xsd:element ibmSchExtn:docRoot="true" name="Fault" type="mrm:Fault"/>
      
</xsd:schema>
