TransctionDetails/TransctionDetailsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://tempuri.org/TransctionDetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/TransctionDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransctionDetails" targetNamespace="http://tempuri.org/TransctionDetails">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://tempuri.org/TransctionDetails" targetNamespace="http://tempuri.org/TransctionDetails">
      <xsd:complexType name="TransactionRequest">
        <xsd:sequence>
          <xsd:element ref="Transaction_number"/>
          <xsd:element ref="Transaction_date"/>
          <xsd:element ref="Store_number"/>
          <xsd:element ref="Total_amount"/>
          <xsd:element ref="Quantity"/>
          <xsd:element ref="Delivery_address"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransactionResponse">
        <xsd:sequence>
          <xsd:element ref="Transaction_number"/>
          <xsd:element ref="Transaction_status"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Fault">
        <xsd:sequence>
          <xsd:element ref="Fcode"/>
          <xsd:element ref="Fstring"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Transaction_number" type="xsd:string"/>
      <xsd:element name="Transaction_date" type="xsd:string"/>
      <xsd:element name="Store_number" type="xsd:string"/>
      <xsd:element name="Quantity" type="xsd:string"/>
      <xsd:element name="Total_amount" type="xsd:string"/>
      <xsd:element name="Delivery_address" type="xsd:string"/>
      <xsd:element name="Transaction_status" type="xsd:string"/>
      <xsd:element name="Fcode" type="xsd:string"/>
      <xsd:element name="Fstring" type="xsd:string"/>
      <xsd:element name="TransactionRequest" type="TransactionRequest"/>
      <xsd:element name="TransactionResponse" type="TransactionResponse"/>
      <xsd:element name="Fault" type="Fault"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Transaction_in">
    <wsdl:part element="TransactionRequest" name="TransactionRequest"/>
  </wsdl:message>
  <wsdl:message name="Transaction_out">
    <wsdl:part element="TransactionResponse" name="TransactionResponse"/>
  </wsdl:message>
  <wsdl:message name="Transaction_fault1">
    <wsdl:part element="Fault" name="Fault"/>
  </wsdl:message>
  <wsdl:portType name="TransctionDetailsPortType">
    <wsdl:operation name="Transaction">
      <wsdl:input message="Transaction_in" name="Transaction_Input"/>
      <wsdl:output message="Transaction_out" name="Transaction_Output"/>
      <wsdl:fault message="Transaction_fault1" name="Transaction_Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransctionDetailsSOAP_HTTP_Binding" type="TransctionDetailsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Transaction">
      <soap:operation soapAction=""/>
      <wsdl:input name="Transaction_Input">
        <soap:body parts="TransactionRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="Transaction_Output">
        <soap:body parts="TransactionResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Transaction_Fault">
        <soap:fault name="Transaction_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransctionDetailsSOAP_Service">
    <wsdl:port binding="TransctionDetailsSOAP_HTTP_Binding" name="TransctionDetailsSOAP_Port">
      <soap:address location="http://localhost:7800/TransctionDetailsSOAP_HTTP_Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
